@font-face {
    font-family: 'The Jjester';
    src: url('TheJjester.woff2') format('woff2'),
        url('TheJjester.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

